{% extends 'shop/base.html' %}
{%block BlogActive %}active {%endblock BlogActive %}
{% block title%} Blog {% endblock %}
{% block css %}
#post{
    background-color:#F0F8FF;
}
#headingText{
    display:inline-block;
}
.blog{
    float:right;
}
.img-fluid {
    max-width: 100%;
    height: 100%;
}
{% endblock %}
{% block body %}
<div class="container my-3">
    <div class="heading">
        <h2 id="headingText">Blogs</h2>
        <a href="/blog/add/addBlog" role="button" class="btn btn-primary blog">Add blog</a>
    </div>
    {% for post in allPosts  %}
    <div id="post"
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
        <div class="col-md-8 p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Article by {{post.author|title}}</strong>
            <h3 class="mb-0">{{post.title|title}}</h3>
            <div class="mb-1 text-muted">{{post.datetime}}</div>
            <p class="card-text mb-auto">{{post.content| truncatechars:200|safe}}</p>
            <div class="my-2">
                <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
            </div>
        </div>
        <div class="col-md-4 imgs">
            <img src="/media/{{post.image}}" class="feaurette-image img-fluid mx-auto">
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}